*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(rgb(230, 220, 220), rgb(196, 224, 196), rgb(228, 192, 228), rgb(215, 205, 224));
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(172, 29, 29, 0.986);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

button[type="button"] {
    margin-left: 5px;
    padding: 10px;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
button[type="submit"]:hover {
    color: white;
    background-color: green;
}
button[type="button"]:hover{
    color: black;
    box-shadow: 0 0 3px aqua;
    border: 1px solid;
    border: 3px;
}